html {
    height: 100%;
}
body {
    background: linear-gradient(to bottom, skyblue, crimson);
    text-align: center;
}
h1 {
    position: relative;
    margin: 300px auto;
    text-align: center;
    font-size: 3em;
    font-family: arial;
    display: inline-block;
    transition: color 0;
   

}
h1:hover {
    color: white;
    transition-delay: 0.3s;
}

h1::before {
    position: absolute;
    top: 75%;
    left: -23%;
    width: 25%;
    height: 200%;
    content: "";
    color: white;
    background: rgb(243, 216, 216);
    transition: 0.3s;
    z-index: -1;
    opacity: 0.5;

}
h1::after {
    content: "";
    color: white;
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 72%;
    width: 2%;
    height: 12%;
    border-radius: 100%;
    transition: 0.1s;
    opacity: 0;
    
}
h1:hover::after{
    transition-delay: 0.1s;
    background: red;
    opacity: 1;
    
}
h1:hover::before {
   background: red;
   transform: rotate(90deg) translate(-50px, -50px) scale(2);
}